div.force .dashboard {

  .category-failure,
  .category-mixed {
    background-color: #dff3db !important;
  }

  .text-danger {
    color: #28a745 !important;
  }

  .bg-danger {
    background-color: #92d19e !important;
  }

}